.cart--container {
  min-height: 90vh;
  padding: 20px 10px 0 10px;
  margin: 0 auto;
  margin-bottom: -50px;
  background: #eeeeee;
}

.cartlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cartitem {
  min-height: 50px;
  width: 500px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

.cartitem:not(:last-of-type) {
  margin-bottom: 10px;
}

.cartitem--avatar {
  width: 100px;
  height: 100px;
}
