.voucher-name {
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}

.voucher-image {
  width: 80%;
  margin: 0;
}

.voucher-btn {
  padding: 10px 20px;
  margin: 0;
  background: purple;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 30px;
  box-shadow: 0 0px 20px 2px rgba(0, 0, 0, 0.2);
  transition: all .2s;
}

.voucher-btn:hover,
.voucher-btn:focus {
  background: rgb(204, 31, 204);
  box-shadow: 0 0px 10px 1px rgba(0, 0, 0, 0.2);
}

.voucher-price {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;
  color: firebrick;
}