.voucher-name {
  font-size: 1.1rem;
  margin: 0;
}

.voucher-image {
  width: 80%;
  height: 80%;
  max-height: 150px;
  margin: 0;
  margin-bottom: 10px;
  justify-self: center;
  align-self: center;
}

.voucher-btn {
  justify-self: center;
  align-self: center;
  padding: 10px 25px;
  margin: 0;
  background: #ffffff;
  color: rgb(105, 13, 105);
  font-size: 0.8rem;
  font-weight: bold;
  border: 1px solid rgb(105, 13, 105);
  border-radius: 30px;
  transition: all 0.2s;
}

.delete-btn {
}

.voucher-btn:hover,
.voucher-btn:focus {
  color: #ffffff;
  background: rgb(105, 13, 105);
  box-shadow: 0 0px 10px 1px rgba(0, 0, 0, 0.2);
}

.voucher-price {
  justify-self: center;
  align-self: center;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 1px;
  color: rgb(139, 14, 211);
}

@media screen and (max-width: 400px) {
  .voucher-image {
    height: 150px;
  }
}
