body {
  background: white;
  font-size: 65.5%;
}

h1 {
  font-size: 1rem;
  text-align: center;
}

.container {
  padding: 20px;
}

.details {
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
  box-sizing: border-box;
}

.user-details {
  padding: 20px;
  background: #ccc;
}

.detail-card,
.user-detail-card {
  padding: 10px;
  background: white;
  box-shadow: 0 2px 20px 2px rgba(192, 113, 113, 0.2);
  box-sizing: border-box;
  border-radius: 15px;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: purple;
  cursor: pointer;
  transition: all .2s;
}

.detail-card {
  /* max-height: 300px; */
  max-width: 200px;
}

.detail-card:hover,
.user-detail-card:hover {
  box-shadow: 0 1px 25px 2px rgba(147, 15, 187, 0.2);
}

.voucher-name {
  font-size: 1rem;
}