.pitch-text {
  text-align: center;
  padding: 10px;
}

@media screen and (max-width: 400px) {
  .pitch-text {
    font-size: 2rem;
  }
}

.form-container {
  width: 100%;
  margin: 20px auto;
  padding: 0;
  display:  grid;
  grid-template-columns: repeat(auto-fit, 400px);
  grid-gap: 10px;
  align-items: center;
  justify-content: space-around;
}

@media screen and (min-width: 960px) {
  .form-container {
    width:  85%;
  }
}

.login-card {
  width: 350px;
  margin: 20px auto;
  padding:  20px 10px;
  background: rgba(255, 255, 255, 0.89);
  box-shadow: 0 1px 10px 2px rgba(0, 0, 0, .3);
  border-radius: 10px;
  color: #999999;
  text-align: center;
}

.login-btn:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (max-width: 400px) {
  .login-page {
    height: 100vh;
  }

  .login-card {
    width: 90%;
    border-radius: 0;
    margin: 0 auto;
    padding:  10px 10px;
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0);
    opacity: 1;
  }
}

.form-error {
  color: rgb(226, 14, 14);
}