* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Barlow, Helvetical, sans-serif;
  background: rgba(119, 34, 141, 0.29);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}

.app--container {
  min-height: 90vh;
  padding: 20px 10px 10px 10px;
  margin: 0 auto;
  /* margin-bottom: -50px; */
  background: #ece7e7;
}
